.hero_banner {
  height: 100vh;
  width: 100vw;
  position: relative;
}
.hero_banner__text_content {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 100;
  color: #ffffff;
}

svg {
  height: fit-content;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
svg#bg_1 path {
  animation: waveAnim_bg_1 10s ease-in-out infinite;
}
svg#bg_2 path {
  animation-delay: 0.25s;
  animation: waveAnim_bg_2 8s ease-in-out infinite;
}
svg#bg_3 path {
  animation-delay: 0.1s;
  animation: waveAnim_bg_3 12s ease-in-out infinite;
}
svg#bg_4 path {
  animation-delay: 0.25s;
  animation: waveAnim_bg_3 15s ease-in-out infinite;
}
@keyframes waveAnim_bg_1 {
  0%,
  100% {
    d: path(
      "M0 530.737V0H1638V639.167C1574.5 672.159 1440.25 772.038 1304 788.5C1057.58 818.271 948.199 636.824 700 639.167C556.979 640.517 481.657 726.259 340 706.508C191.96 685.867 16 583 0 530.737Z"
    );
  }

  25% {
    d: path(
      "M0 548.5V0H1638V614C1638 614 1459.52 726.589 1330.5 755C1124.39 800.388 1005.53 688.845 794.5 686C588.102 683.217 462.776 807.748 268.5 738C147.708 694.634 31.5 606 0 548.5Z"
    );
  }

  50% {
    d: path(
      "M0 513V0H1638V621.5C1540 600 1447.18 660.176 1323.5 659C1154.66 657.394 1067.3 575.197 898.5 579.5C641.308 586.057 489.812 899.224 279.5 805C135.444 740.46 74 584 0 513Z"
    );
  }

  75% {
    d: path(
      "M0 504.428V0H1638V623.631C1570 654 1458.42 695.412 1337 706.5C1154.56 723.161 1071.87 620.852 875.267 623.631C668.778 626.549 554.203 753.015 353 706.5C198.238 670.721 122.371 502.587 0 504.428Z"
    );
  }
}
@keyframes waveAnim_bg_2 {
  0%,
  100% {
    d: path(
      "M1638 530.413V0H0V638.777C63.5 671.749 186.188 807.479 335.5 838.488C598.152 893.035 700.391 533.251 966.5 567.154C1159.39 591.728 1222.72 813.199 1400 759.536C1523.51 722.148 1622 582.644 1638 530.413Z"
    );
  }

  25% {
    d: path(
      "M1638 548.165V0H0V613.625C0 613.625 143.723 756.555 262 796.014C490.525 872.253 618.119 645.07 859 640.609C1062.41 636.841 1177.79 796.212 1371.5 734.052C1492.34 695.274 1606.5 605.63 1638 548.165Z"
    );
  }

  50% {
    d: path(
      "M1638 512.687V0H0V621.121C98.0001 599.634 193.132 733.314 329.5 737.05C501.028 741.749 582.614 585.575 763 575.648C1011.78 561.958 1126.05 894.153 1358.5 804.508C1505.77 747.715 1564 583.643 1638 512.687Z"
    );
  }

  75% {
    d: path(
      "M1638 504.12V0H0V623.25C68.0001 653.601 158.137 673.32 263 684.582C458.498 705.577 566.356 613.409 762.733 623.25C985.835 634.43 1103.92 827.948 1317.5 762.534C1471.26 715.441 1515.63 502.28 1638 504.12Z"
    );
  }
}
@keyframes waveAnim_bg_3 {
  0%,
  100% {
    d: path(
      "M1638 693.619V0H-0.00012207V766.013C87 710 178.845 647.487 309.5 635C495.505 617.223 579.935 747.138 763.5 766.013C943.251 784.495 1225 732.6 1225 732.6C1225 732.6 1515.63 691.081 1638 693.619Z"
    );
  }

  25% {
    d: path(
      "M1638 642.059V0H0V718.731C0 718.731 192.987 613.785 326.5 617C491.793 620.98 517.044 739.659 709.5 765.5C943.343 796.898 1125.25 678.165 1398 654C1491.48 645.719 1581.5 642.059 1638 642.059Z"
    );
  }

  50% {
    d: path(
      "M1638 690.901V0H0V751.347C98.0001 725.355 213.952 696.586 323.5 690.901C515.674 680.927 554.477 813.225 712.5 841.5C876.6 870.863 1073.74 681.524 1320 669.745C1444.32 663.798 1519.5 669.745 1638 690.901Z"
    );
  }

  75% {
    d: path(
      "M1638 680.665V0H0V754.637C103 735.118 190.831 775.727 313.5 774.5C494.195 772.692 592.348 724.307 773 720C958.549 715.576 1061.83 767.358 1247 754.637C1402.04 743.987 1515.63 678.437 1638 680.665Z"
    );
  }
}
@keyframes waveAnim_bg_4 {
  0%,
  100% {
    d: path(
      "M1638 693.619V0H-0.00012207V766.013C27.5 757.5 164.712 745.516 270.5 749C459.652 755.23 555.912 855.424 745 847.5C965.252 838.27 1059.23 681.804 1279 664.5C1419.22 653.459 1456 666.5 1638 693.619Z"
    );
  }

  25% {
    d: path(
      "M1638 684V0H0V718.731C0 718.731 151.714 793.744 257 808C431.125 831.577 522.409 725.322 698 718.731C913.713 710.635 1028.83 830.711 1243.5 808C1404.1 791.009 1606 665 1638 684Z"
    );
  }

  50% {
    d: path(
      "M1638 725.5V0H0V751.347C73.5 738 140.276 831.732 240 844.5C433.33 869.253 513.275 686.053 707.5 669.745C911.794 652.591 1016.54 771.766 1221.5 776.5C1385.32 780.284 1638 725.5 1638 725.5Z"
    );
  }

  75% {
    d: path(
      "M1638 680.665V0H0V754.637C103 735.118 184.217 810.219 305.5 810.5C492.347 810.933 579.158 682.158 766 680.665C958.298 679.128 1048.93 819.968 1241 810.5C1403.92 802.469 1515.63 678.437 1638 680.665Z"
    );
  }
}
