.container {
  height: auto;
  width: 100vw;
  padding: 0 150px;
  margin: auto;
}

.content {
  min-height: 70vh;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

@media (max-width: 1100px) {
  .container {
    padding: 0 150px;
  }
}
